.full-body-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    margin-left: 2em;
}

#google-c {
    color: #4083ee;
}

#google-s {
    color: #DB4437;
}

#google-4 {
    color: #F4B400;
}

#google-3 {
    color: #4285F4;
}

#google-0-1 {
    color: #0F9D58;
}

#google-0-2 {
    color: #DB4437;
}

.google-colors {
    display: flex;
    align-items: center;
    font-size: 48px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.google-colors h1 {
    margin-bottom: 0;
    margin-right: 3px;
}

.input-box {
    border-radius: 50px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding: 12px;
    width: 70%;
}

input {
    width: 100%;
}

.input-box img {
    height: 20px;
    width: 20px;
}

.top-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-box input {
    width: 100%;
    margin-left: 10px;
    font-size: 16px;
    border: none;
    outline: 0;
}

#answer-box {
    width: 700px;
    margin-top: 50px;
}

.episode-title {
    font-family: 'Kanit', sans-serif;
}

.episode-desc {
    font-family: 'Montserrat', sans-serif;
}

/* Global styles */
* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f8f8f8;
}

.content {
    padding: 2em;
}

header {
    background-color: #5EBEF6;
    color: #fff;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    outline: 5px dotted rgb(97, 94, 94)
}

header img {
    width: 20%;
    height: 0.01%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    margin-right: 1rem;
}

nav a {
    color: #fff;
    text-decoration: none;
}

main {
    margin: 2rem;
}

h1 {
    -webkit-text-stroke: 0.8px black;
    font-size: 45px;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

form {
    display: wrap;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 2rem;
}

label {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1.3em
}

button {
    padding: 0.9em;
    margin-top: 2em;
}

select {
    padding: 0.5rem;
}

.q1,
.q2,
.q3,
.q5 {
    padding: 0.5em;
    font-size: 20px
}

.q2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.q2 .city-con,
.q2 .state-con,
.q2 .or {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.or {
    margin-top: 2em;
}

.or h2 {
    font-size: 18px;
}

.q2 label {
    margin-bottom: 5px;
}


.q5 {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.city-con input {
    width: 250px;
    height: 50px;
    padding: 1em;
    margin-right: 2em;
}

.state-con {
    width: 250px;
    height: 76px;
    margin-left: 2em;
}

select {
    margin-top: 0.25;
}


.size-slider {
    width: 65%;
}

.price-display {
    position: relative;
    margin-top: -17px;
    margin-right: 1100px;
}

footer {
    padding: 1.4em;
}

.tick-container {
    display: flex;
    width: 28%;
    margin-left: -30px;
}

.tick-label {
    flex: 5px;
    text-align: center;
}