<!DOCTYPE html>
<html>
  <head>
    <title>College Crush</title>
    <link rel="stylesheet" href="../static/style.css">
  </head>
  <body>
    <header>
        <img src="backend/static/images/logo4300.png" alt="logo">
    </header>

    <h2>Find Your Perfect College Crush</h2>
    <form onsubmit="return validateForm()">
      <div class="input-box" onclick="sendFocus()">
        <img src="/mag.png" alt = "mag"/>
        <input placeholder="Enter your preferred college vibe!" id="filter-text-val">
      </div>

      <br><br>

      <div class = "q1">
        <label for="selectField">Select Your Preferred Region:</label>
        <select id="filter-text-val" name="selectField">
            <option value="">--Please choose an option--</option>
            <option value="northeast">Northeast</option>
            <option value="southeast">Southeast</option>
            <option value="midwest">Midwest</option>
            <option value="southwest">Southwest</option>
            <option value="west">West</option>
        </select>
      </div>

      <br><br>

      <div class = "q2">
        <label for="textField">Enter a city or state</label>
        <input type="text" id="filter-text-val" name="city" placeholder="Input a city or state">
      </div>

      <br><br>

      <div class=" q3">
        <label for="size">Select Your Preferred School Size:</label>
        <select id="size">
          <option value="">--Please choose an option--</option>
          <option value="small">Small (under 5,000 students)</option>
          <option value="medium">Medium (5,000-15,000 students)</option>
          <option value="large">Large (over 15,000 students)</option>
        </select>
      </div>

      <br><br>

      <div class=" q4">
        <label for="sort_input">Sort By:</label>
        <select id="sort_input">
          <option value="">--Please choose an option--</option>
          <option value="Alphabetical">Alphabetical</option>
          <option value="Location">Location</option>
          <option value="Enrollment Size">Enrollment Size</option>
        </select> 
      </div>

      <br><br>

      <button type="submit" onclick="filterText()">Find My Matches</button>

    </form>
    <br>
    <div id="answer-box">

    </div>

    <footer>
        <p>&copy; College Crush 2023</p>
    </footer>

    <script>
        function answerBoxTemplate(title, location, enrolled, website,score) {
        return `<div><div>
                    <h2 class='episode-title'>${title}</h2>
                    <h4> Location: ${location}</h4>
                    <h4> Students enrolled: ${enrolled}</h5>  
                    <a href="${website}">Learn More!</a>    
                    <h4> Match Score: ${score}</h4>
                    <br>
    </div>
    </div>`
        }
        function answerBoxTemplate2(messages) {
        return `<div><div>
                    <h2>${messages}</h2> 
    </div>
    </div>`
        }

        function sendFocus() {
        document.getElementById('filter-text-val').focus()
        }
        function filterText() {
        document.getElementById("answer-box").innerHTML = ""
        console.log(document.getElementById("filter-text-val").value)
        fetch("/colleges?" + new URLSearchParams({
            title: document.getElementById("state").value, size: document.getElementById("size").value,
            location: document.getElementById("location-input").value, sort: document.getElementById("sort_input").value,
            vibes: document.getElementById("filter-text-val").value
        }).toString())
            .then((response) => response.json())
            .then((data) => {
            data.forEach(row => {
                let tempDiv = document.createElement("div")
                // console.log(row.title)
                if (row.title === undefined) {
                //tempDiv.innerHTML = answerBoxTemplate(row.title, row.location, row.enrolled, row.website)
                tempDiv.innerHTML = answerBoxTemplate2(row.messages)
                }
                else { tempDiv.innerHTML = answerBoxTemplate(row.title, row.location, row.enrolled, row.website, row.score) }
                document.getElementById("answer-box").appendChild(tempDiv)
            });
            });
        }
        
      function validateForm() {
        const dropdownValue = document.forms[0].selectField.value;
        const textInputValue = document.forms[0].city.value;

        if (dropdownValue === "" && textInputValue === "") {
          alert("Please input in a region or a preferred city or state");
          return false;
        }

        return true;
      }
    </script>
  </body>
</html>
